* {
	margin: 0;
	padding: 0;
	font: 12px Raleway;
	font-weight: 400;
}
body{
	background-color: #FFFAFA;
	 /*snowcolor #FFFAFA*/
	 width: 100%;
}
/* cabeçalho do site*/
header {
	background: rgba(0,0,0,0.3); /* cor de fundo */
	padding: -10px 20px; /* margem interna */
	position: fixed; /* fixar o topo */
	width: 100%; /* largura */
	z-index: 9999;
	background-color: #00BFFF;
	/*DeepSkyBlue 	#00BFFF azul claro*/
	/*DarkOrange 	#FF8C00 */
	/*Black 	#000000*/
}
.logo{
	float: left;
	padding: 15px 0px;
	margin-left: 44%;
}
.redes-sociais{
	float:right; /* flutuar o menu a direita */
	display: inline-block;
	padding: 13px 0px;
}
.menu{
	float:left; /* flutuar o menu a direita */
	padding: 20px;
	list-style: none;
	display: inline;
	margin-left: 10px;
	display: inline-block;
	text-transform:uppercase;
	font-weight: 400;
	/* background: linear-gradient(to right,#F00,#FF0); */
	font-size: smaller;
	font-size: 12px;
}

header nav ul li a:hover {
	color: #FF8C00;
}

}
header nav {
	float:right; /* flutuar o menu a direita */
	padding: 60px 30px;
}

header nav ul li {
	list-style: none;
	display: inline;
	margin: 15px;
	display: inline-block;
}

header nav ul li a {
	color: #FFF;
	text-decoration: none;
	/* background: linear-gradient(to right,#F00,#FF0); */
}
/*fecha cabeçalho do site*/
main {
	width: 85%;
    display: grid;
    grid-template-columns: 70% 0%;
    margin-left: 1%;
    margin: 10px;
}

article {
	margin: 10px;
	/*border-right:10px*/
	border: 1px solid #ccc;
	box-shadow: 0 0 20px #ccc;
	/*border-radius: 15px;*/
}

article h2, article p {
	margin: 10px;
}
h2 {
	font-weight: 900;
	font-size: 24px;
	float:top;
	text-align: center;
}
aside {
	margin: 15px;
}
.container {
	width: 1000px;
	margin: 10px auto;*/
}
footer {
	background-color: #4BD4F2;
	color: #fff;
	padding: 20px;
}
.clearfix {
	clear: both;
	/*slider do site*/
}
.col-100{
	width: 100%;
	float:left;
	position:relative;
}
button.slick-prev{
  font-size: 0px;
  border: none;
  height: 64px;
  width: 64px;
  background-color: transparent;
  background-image: url('../imagens/setae.png');
  position: absolute;
  z-index: 9;
  top: 45%;
left: 0%;
}
button.slick-next{
  font-size: 0px;
  border: none;
  height: 64px;
  width: 64px;
  background-color: transparent;
  background-image: url('../imagens/setad.png');
  position: absolute;
  z-index: 9;
  top: 45%;
  right: 0%;
}
.slick-initialized{
	overflow:hidden;
}
.slick-dots li button{
font-size: 0px ;
border:3px solid #FFFAFA;
width: 26px;
height: 26px;
background:transparent;
border-radius:50%;
cursor: pointer;
}
.slick-dots{
	margin:0 auto;
	width: 50%;
	position: absolute;
	left:46%;
	top:90%;
}
li.slick-active button{
	background:#4BD4F2;
	
}
.slick-dots li{
	padding-left: 5px;
	display: inline-block;
}
/*fim do slider do site*/









